# Ignore data and output folders
support/Fusion/BlindFuse-master/*.mat
support/Fusion/bayesfusion/*.mat

projects/*
!projects/main

data/*
!data/raw
!data/relative_spectral_responses

output/*

# Ignore images
*.j2k
*.jpeg
*.jpg

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace