# Ignore data and output folders
src/support/Fusion/BlindFuse-master/*.mat
src/support/Fusion/bayesfusion/*.mat

projects/*
!projects/main

data/output/*
!data/output/.gitkeep
!data/output/formation_mrca/
!data/output/formation_classic/
data/output/formation_mrca/*
!data/output/formation_mrca/Washington_cut256_4
data/output/formation_mrca/Washington_cut256_4/*
!data/output/formation_mrca/Washington_cut256_4/Washington_4_r2_real_BinaryTreeU_default_regravg_m0_i250_TV_c_norm_l221_GT.png
!data/output/formation_mrca/Washington_cut256_4/Washington_4_r2_real_BinaryTreeU_default_regravg_m0_i250_TV_c_norm_l221_COMP.png
!data/output/formation_mrca/Washington_cut256_4/Washington_4_r2_real_BinaryTreeU_default_regravg_m0_i250_TV_c_norm_l221_INVBEST.png
data/output/formation_classic/*
!data/output/formation_classic/Washington_cut256_4
data/output/formation_classic/Washington_cut256_4/*
!data/output/formation_classic/Washington_cut256_4/Washington_cut256_4_r2_real_BinaryTreeU_default_fusdem_RBF_spline_INVBEST.png


# Ignore images
*.j2k
*.jpeg
*.jpg

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

# IDEA folder
.idea